@*
    Esercizi Controller Index
*@

<p>
    1. Dichiarare una variabile valorizzandola con il nostro nome.
    Dichiarare un'altra variabile valorizzandola con il nostro cognome.
    Stampare il nostro nome e cognome all'interno di un tag h2.
</p>
@{
    string name = "Alberto";
    string surname = "Marcon";
}
<h2>@name @surname</h2>
<hr />
<p>
    2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
    Stampare dentro uno span il risultato.
</p>
@{
     int sommaUnoaEnne(int n) {
        return (n * (n + 1)) / 2;
    }
}
<h2>Somma da 1 a 100: @sommaUnoaEnne(100)</h2>
<hr />
<p>3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina</p>
@{
    string frase = "nel mezzo del cammin di nostra vita";
    int count = 0;
    foreach (char i in frase) {
        if (i == 'a') count++;
    }
}
<h2>Numero di 'a' nella frase "nel mezzo del cammin di nostra vita" : @count</h2>